@font-face {
    font-family: "Zona Pro Bold"; 
    src: url("//db.onlinewebfonts.com/t/bbf12a50b167be0fd3e7a621caaee182.eot"); 
    src: url("//db.onlinewebfonts.com/t/bbf12a50b167be0fd3e7a621caaee182.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/bbf12a50b167be0fd3e7a621caaee182.woff2")   format("woff2"),   url("//db.onlinewebfonts.com/t/bbf12a50b167be0fd3e7a621caaee182.woff") format("woff"), url("//db.onlinewebfonts.com/t/bbf12a50b167be0fd3e7a621caaee182.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/bbf12a50b167be0fd3e7a621caaee182.svg#Zona Pro Bold") format("svg"); 
  }


.form-cadastro {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.title {
    font-family: "Zona Pro Bold";
    padding-left: 10px;
}

.form-cadastro label {
    font-size: 20px;
    padding: 10px;
    font-family: "Zona Pro Bold";
}

.form-cadastro input {
    height: 20px;
    width: 200px;
    font-family: "Zona Pro Bold";
}

.content-div {
    margin-top: 15px;
}

.dados-contatos {
    margin-top: 30px;
    padding-left: 10px;
    border-radius: 20px;
}

table {
    border-collapse: collapse;
    border-radius: 20px;
}

thead {
    border-radius: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000e33;
    color: white;
    font-family: "Zona Pro Bold";
}


th, td {
    padding: 8px;
}

tr:nth-child(even){background-color: #dedede;}

tr:hover {background-color: rgb(119, 119, 119);}

table input {
    border: 0;
    pointer-events: none;
    background: transparent;
}

#nome {
    width: 720px;
}

#nomeContato {
    width: 720px;
}

#emailContato {
    width: 375px;
    margin-right: 10px;
}

.nomeContatoThTd {
    width: 300px;
}

.telefoneThTd {
    width: 180px;
}

.emailThTd {
    width: 240px;
}

.btnThTd {
    width: 20px;
}

.button-div {
    padding-left: 10px;
    margin-top: 30px;
}

.button-back-div {
    padding-left: 10px;
    margin-top: 30px;
}

.button-back {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Zona Pro Bold";
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #330000;
    border-radius: 5px;
  }
  
.button-back:hover {
    background-color: #330000;
    color: white;
  }

  .button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Zona Pro Bold";
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #000e33;
    border-radius: 5px;
  }
  
.button:hover {
    background-color: #000e33;
    color: white;
  }

.abrir {
    display: none;
}

.alterar {
    display: '';
}
