
<h1 class="title">Cadastro de Pessoa</h1>

<form class="form-cadastro" [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">

    <div>
        <h2 class="title">Dados Pessoais</h2>

        <div class="content-div">
            <label>Nome</label>
            <input id="nome" type="text" formControlName="nome">
        </div>

        <div class="content-div">
            <label id="lbl-cpf">CPF</label>
            <input id="cpf" formControlName="cpf" [OnlyNumber]="true" type="text">
            <label>Data de Nascimento</label>
            <input id="dataNascimento" type="date" formControlName="dataNascimento" [ngModel]="myDate | date:'yyyy-MM-dd'" (ngModelChange)="myDate = $event">
        </div>
    </div>  

    <div [ngClass]="acao">
        <h2 class="title">Contatos</h2>

        <div class="content-div">
            <label>Nome</label>
            <input #nomeContato id="nomeContato" type="text">
        </div>

        <div class="content-div">
            <label>Telefone</label>
            <input #telefoneContato id="telefoneContato" type="text">
            <label>Email</label>
            <input #emailContato id="emailContato" type="text">
            <button type="button"(click)="addContato(nomeContato.value, telefoneContato.value, emailContato.value)">+</button>
        </div>
    </div>  

    <div formArrayName="contatos" class="dados-contatos">
        <table class="table-border">
            <thead>
                <th class="nomeContatoThTd">Nome</th>
                <th class="telefoneThTd">Telefone</th>
                <th class="emailThTd">Email</th>
                <th class="btnThTd"></th>
            </thead>
            <tbody>
                <tr [formGroupName]="i" *ngFor="let contato of contatosArrayControl; let i=index">
                    <td>
                        <div>
                            <input class="nomeContatoThTd" type="text" readonly formControlName="nome">
                        </div>
                    </td>
                    <td>
                        <div>
                            <input class="telefoneThTd" type="text" readonly formControlName="telefone">
                        </div>
                    </td>
                    <td>
                        <div>
                            <input class="emailThTd" type="text" readonly formControlName="email">
                        </div>
                    </td>
                    <td>
                        <div>
                            <button class="btnThTd" [ngClass]="acao" type="button"(click)="removeContato(i)">-</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="button-div" [ngClass]="acao">
        <button class="button" type="submit">Salvar</button>
    </div>
    <div class="button-back-div">
        <button class="button-back" type="Button" (click)="voltar()">Voltar</button>
    </div>
    

</form>
