@font-face {
    font-family: "Zona Pro Bold"; 
    src: url("//db.onlinewebfonts.com/t/bbf12a50b167be0fd3e7a621caaee182.eot"); 
    src: url("//db.onlinewebfonts.com/t/bbf12a50b167be0fd3e7a621caaee182.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/bbf12a50b167be0fd3e7a621caaee182.woff2")   format("woff2"),   url("//db.onlinewebfonts.com/t/bbf12a50b167be0fd3e7a621caaee182.woff") format("woff"), url("//db.onlinewebfonts.com/t/bbf12a50b167be0fd3e7a621caaee182.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/bbf12a50b167be0fd3e7a621caaee182.svg#Zona Pro Bold") format("svg"); 
  }

  .title {
    font-family: "Zona Pro Bold";
    padding-left: 10px;
}

label {
    font-size: 20px;
    padding: 10px;
    font-family: "Zona Pro Bold";
}

input {
    height: 20px;
    width: 200px;
    font-family: "Zona Pro Bold";
}

.content-div {
    margin-top: 15px;
}

.button-cadastrar {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Zona Pro Bold";
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid  #0c3300;
    border-radius: 5px;
    margin-left: 10px;
  }
  
.button-cadastrar:hover {
    background-color: #0c3300; 
    color: white;
  }

  .button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Zona Pro Bold";
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #000e33;
    border-radius: 5px;
    margin-left: 82px;
  }
  
.button:hover {
    background-color: #000e33; 
    color: white;
  }

  #codigo {
    width: 100px;
  }

  #nome {
    width: 670px;
  }

input {
    height: 20px;
    width: 200px;
    font-family: "Zona Pro Bold";
}

.dados-pessoa {
    margin-left: 10px;
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    border-radius: 20px;
}

thead {
    border-radius: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000e33;
    color: white;
    font-family: "Zona Pro Bold";
}

th, td {
    padding: 8px;
    font-family: "Zona Pro Bold";
}

tr:nth-child(even){background-color: #dedede;}

tr:hover {background-color: rgb(119, 119, 119);}

table input {
    border: 0;
    pointer-events: none;
    background: transparent;
}

#nome {
    width: 720px;
}

#nomeContato {
    width: 720px;
}

#emailContato {
    width: 375px;
    margin-right: 10px;
}

.nomeCThTd {
    width: 360px;
}

.cpfThTd {
    width: 180px;
}

.dataNascimentoThTd {
    width: 240px;
}

.btnThTd {
    width: 270px;
}

.btnAbrir {
    background-color: white;
    border: none;
    color: black;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Zona Pro Bold";
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid rgb(27, 130, 170);
    border-radius: 5px;
  }
  
.btnAbrir:hover {
    background-color: rgb(27, 130, 170);
    color: white;
  }

.btnEditar {
    background-color: white;
    border: none;
    color: black;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Zona Pro Bold";
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid rgb(170, 168, 27);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
.btnEditar:hover {
    background-color: rgb(170, 168, 27);
    color: white;
  }

.btnExcluir {
    background-color: white;
    border: none;
    color: black;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Zona Pro Bold";
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid rgb(138, 0, 0);
    border-radius: 5px;
  }
  
.btnExcluir:hover {
    background-color: rgb(138, 0, 0);
    color: white;
  }
