<div>
    <h1 class="title">Cadastro de Pessoa</h1>

    <div class="content-div">
        <label>Codigo</label>
        <input #codigo id="codigo" [OnlyNumber]="true" type="text">
        <label>Nome</label>
        <input #nome id="nome" type="text">
    </div>

    <div class="content-div">
        <label id="lbl-cpf">CPF</label>
        <input #cpf id="cpf" [OnlyNumber]="true" type="text">
        <label>Data de Nascimento</label>
        <input #dataNascimento id="dataNascimento" type="date">

        <button class="button" type="button"(click)="filtrar(codigo.value, nome.value, cpf.value, dataNascimento.value)">Buscar</button>
        <button class="button-cadastrar" type="button"(click)="cadastrar()">Cadastrar</button>
    </div>

    
</div>  

<div class="dados-pessoa">
    <table class="table-border">
        <thead>
            <th class="CodigoThTd">Código</th>
            <th class="nomeCThTd">Nome</th>
            <th class="cpfThTd">CPF</th>
            <th class="dataNascimentoThTd">Data de Nascimento</th>
            <th class="btnThTd"></th>
        </thead>
        <tbody>
            <tr *ngFor="let pessoa of obterPessoas; let i=index">
                <td class="CodigoThTd">
                    {{pessoa.id}}
                </td>
                <td class="nomeCThTd"> 
                    {{pessoa.nome}}
                </td>
                <td class="cpfThTd">
                    {{pessoa.cpf}}
                </td>
                <td class="dataNascimentoThTd">
                    {{pessoa.dataNascimento | date:'dd/MM/yyyy'}}
                </td>
                <td class="btnThTd">
                    <button class="btnAbrir" type="button"(click)="abrir(pessoa)">Abrir</button>
                    <button class="btnEditar" type="button"(click)="editar(pessoa)">Editar</button>
                    <button class="btnExcluir" type="button"(click)="excluir(pessoa)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
